@font-face {
    font-family:"Traditional Arabic";
    src:url("trado.eot?") format("eot"),
        url("trado.woff") format("woff"),
        url("trado.ttf") format("truetype"),
        url("trado.svg#TraditionalArabic") format("svg");
    font-weight:normal;
    font-style:normal;
}
body {
    padding-top: 30px;
}

.hidden{
    display: none;
}
body>.container {
    margin-bottom: 25px;
}
form label{
    font-weight: bold;
}

.alert-danger{
    background-color: red;
}

.btn-danger{
    background-color: red;
}

.alert-danger{
    background-color: red;
}

.btn-danger{
    background-color: red;
}
.label-danger{
    background-color: red;
}
#paginas{
    padding: 11px;
    padding-bottom: 7px;
    border: 2px solid;
    background-color: #FFFFFF;
    padding-top: 4px;
}
#usuario{
    color: white;
}
.open #usuario{
    background-color: #006687 !important;
}
label{
    font-size: 15px;
}
#usuario:hover{
    background-color: #006687 !important;
}
.open{
    background-color: #006687 !important;
}
@media(min-width: 768px){
    #logoSistema{
        text-decoration: none;
        display: inline;
        float: left;
        margin-top: 18px;
        font-size: 15px;
        margin-right: 30px;
    }
}
@media(max-width: 768px) {
    #logoSistema{
        display: none;
    }
}
.parcial{
    background-color: #d2eafd !important;
}
.mostrar-print{
    display: none;
}
@media print {
    .btn{
        display: none;
    }
    .remover-print{
        display: none;
    }
    .mostrar-print{
        display: block;
    }
    #qtdVendasMes{
        width: 620px !important; 
        height: 350px !important; 
    }
    #prodMaisVendido{
        width: 620px !important; 
        height: 350px !important; 
    }
    #produtosVenda { 
       margin-top: 120px; 
    }
    #produtosCompra{ 
       margin-top: 120px; 
    }
}
.input-group .form-control{
    z-index: 0 !important;
}
.imprimir{
    float: right;
}