body{
    background-color: #2196f3;
}
.titulo{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding: 50px 0px 0px;
}
.modalidade{
    color: #2196f3;
    font-weight: bold;
}
.login{
    background-color: #FFFFFF;
    padding-bottom: 100px;
    height: 480px;
    margin-top: 80px;
     box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.btn-login{
    margin-top: 50px ;
}
.page-header{
    display: none;
}
.form-signin {
    padding: 30px 35px;
}
@media(min-width:992px) and (max-width:1199px){
    .titulo{
        font-size: 33px;
    }
}