/*
 * input checkbox toggle
 */
input#toggle {
  max-height: 0;
  max-width: 0;
}

input#toggle + label {
  position: relative;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: inset 0 0 5px 1px #b5b5b5;
  width: 60px;
  height: 22px;
  background: #d5d5d5;
  /*text-indent: -5000px;*/
  cursor: pointer;
}
input#toggle + label .before,
input#toggle + label .after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 15px;
  height: 22px;
  width: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
input#toggle + label .before {
  background: rgba(231, 81, 47, 0);
}
input#toggle + label .after {
  background: white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
}

input#toggle:checked + label .before {
  width: 60px;
  background: rgba(39, 128, 227, 0.8);
  box-shadow: inset 0 0 5px 1px #2780E3;
}
input#toggle:checked + label .after {
  left: 30px;
  box-shadow: inset 0 0 0 1px #2780E3, 0 2px 4px rgba(0, 0, 0, 0.2);
}
